
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Test</h1>
<h3> deneme sayfası testleri</h3>
<table>
    <tr>
        <th>ID</th>
        <th>AD</th>
        <th>departman</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Egemen</td>
        <td> IT</td>
    </tr>
    <tr>
        <td>2</td>
        <td>ayşe</td>
        <td>ARGE</td>
    </tr>
</table>
